@import "reset";

.header {
  background-color: #eef4ff;
  position: fixed;
  display: flex;
  padding: 10px 0px;
  width: 100%;
  justify-content: center;
  z-index: 3;

  .container {
    width: 80vw;

    h1 {
      font-size: 38px;
      font-family: "Montserrat";
      font-weight: 400;
    }
  }
}
